<h1>Login</h1>

<form action="/login" method="POST">
    <input type="text" name="username" paceholder="username">
    <input type="password" name="password" paceholder="password">
    <button>Login</button>
</form>